*,
*::before,
*::after {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: poppins;
  --secondary-font: inter;
  --background-color: #2a6041;
  --text-color: #fff;
  --dark-text-color: #e7e3e3;
  --accent-color: rgb(255, 215, 0);
}
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
header {
  background-color: #2a6041;
  height: 80vh;
}
.padding {
  padding: 1rem 3rem;
}

/* style for the nav section */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--secondary-font);
  margin-bottom: 2rem;
}
.nav-logo h1 {
  color: var(--text-color);
  font-weight: 100;
  font-size: 1.5rem;
}

.nav-content {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.nav-content a {
  text-decoration: none;
  color: var(--text-color);
}
.nav-content a:hover {
  color: var(--accent-color);
  transition: all 100ms ease-in-out 200ms;
  scale: 1.09;
}
/* hero section */
.hero-body {
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

.hero-body h1 {
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
    -1px -1px 2px rgba(255, 255, 255, 0.2);
}

.hero-body p {
  font-size: 1rem;
  max-width: 62ch;
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  color: var(--dark-text-color);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.hero-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.hero-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.btn-1,
.btn-2 {
  background-color: gold;
  font-family: sans-serif;
  width: 200px;
  padding: 15px;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 20px;
  color: #2a6041;
  font-weight: bolder;
  cursor: pointer;
}
.btn-2 {
  background-color: transparent;
  color: var(--text-color);
  box-shadow: 0px 0px 0px 1px white;
  margin-left: 20px;
}
.btn-1:hover {
  background-color: var(--text-color);
  transition: all 100ms ease-in-out 200ms;
}
.btn-2:hover {
  color: var(--accent-color);
  transition: all 100ms ease-in-out 200ms;
}
.menu,
.menuBtn {
  display: none;
}
/* end of the nav styles */

/* styles for the main contents */
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5rem;
  margin: 5rem 0;
}
.main-container img {
  max-width: 200px;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.main-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.main-contents {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
}
.main-heading {
  font-family: var(--primary-font);
  width: 400px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: rgba(141, 142, 143, 0.1) 0px 8px 24px;
}
.main-heading p {
  max-width: 50ch;
  text-align: justify;
  margin: 1rem 0;
  line-height: 1.5rem;
  font-family: sans-serif;
}

.main-container button {
  background-color: black;
  color: white;
  width: 200px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}
.main-container button:hover {
  background-color: #333;
  color: #f1f1f1;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-contents h3 {
  font-size: 1.2rem;
  text-align: center;
  font-family: monospace;
  margin-top: 1rem;
}
.main-contents p {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1rem;
}
/* end of the main contents styles */

/*-start of the text container-1*/
.text-header {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.text-header h1 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 1rem;
}
.text-header p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #444;
  max-width: 800px;
  margin: 1rem auto;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.text-content p {
  font-size: 1rem;
  text-align: justify;
}
.text-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.text-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.text-content div {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
.text-content-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.text-content-icon ion-icon {
  color: var(--background-color);
  font-size: 1.5rem;
}
.text-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}

/*-start of the text container-2*/

.div-container img {
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}
.div-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 4rem;
}
.div-text {
  background: #f7f5f5;
  width: 400px;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.div-text,
p {
  text-align: justify;
  line-height: 1.5rem;
}
.div-text h1 {
  font-size: 2rem;
  font-family: var(--primary-font);
}

.div-text p {
  font-size: 1rem;
}

.explore {
  background-color: black;
  color: white;
  width: 50%;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px;
  margin: 2rem 0;
}

.explore:hover {
  background-color: #333;
  color: #f1f1f1;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* end of the text container styles */

/* before the footer-container */
.before-footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 4rem auto;
}
.before-footer-content img {
  width: 200px;
  height: 200px;
  max-width: 200px;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.before-footer-content img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.before-footer-content h3,
p {
  text-align: center;
}
.before-footer-content h3 {
  margin-top: 1rem;
}

/* end of before the footer styles */

footer {
  background: #222;
  color: #fff;
  padding: 2rem;
  text-align: center;
  font-family: var(--primary-font);
}

.footer-content h2 {
  margin-bottom: 0.5rem;
}

.footer-social {
  margin: 1rem 0;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #f4b400; /* accent color */
}

.footer-bottom {
  font-size: 0.9rem;
  opacity: 0.7;
}
/* end of footer styles */

/* responsive design for mobile devices and lower */
/* ********************************************** */
@media screen and (max-width: 480px) {
  .nav-container {
    margin-bottom: 1rem;
  }
  .nav-content {
    display: none;
  }
  .padding {
    padding: 0.5rem 1rem;
  }
  header {
    height: 60vh;
  }
  .nav-logo h1 {
    font-size: 1.2rem;
  }

  .menuBtn {
    display: block;
    font-size: 1.4rem;
    color: var(--accent-color);
    cursor: pointer;
    margin: 10px 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--accent-color);
    width: 100%;
    height: 50vh;
    transition: 5s ease-in-out;
  }
  .menu a {
    text-decoration: none;
    color: #2e8b57;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .menu a:hover {
    color: #2d413a;
    transition: all 100ms ease-in-out 200ms;
  }
  .menu.close {
    display: none;
  }

  .hero-img {
    display: none;
  }

  .hero-container {
    justify-content: center;
    padding: 1rem;
  }

  .hero-body h1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .hero-body p {
    font-size: 0.8rem;
    max-width: 90%;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }

  .btn-1,
  .btn-2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .main-container,
  .main-contents {
    flex-direction: column;
    gap: 2rem;
  }
  .main-heading button {
    width: 100%;
  }
  .main-heading h1 {
    font-size: 1.3rem;
  }
  .main-heading p {
    font-size: 0.8rem;
  }
  .text-container {
    flex-direction: column;
  }
  .text-header h1 {
    font-size: 1.3rem;
  }
  .text-header p {
    font-size: 0.8rem;
  }
  .text-content {
    gap: 1rem;
    margin-bottom: 4rem;
  }
  .text-content h3 {
    font-size: 1rem;
  }
  .text-content p {
    font-size: 0.8rem;
    text-align: center;
  }
  .div-container {
    flex-direction: column-reverse;
  }
  .div-container img {
    max-width: 300px;
    height: auto;
    border-radius: 30px;
  }
  .div-text h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .explore {
    width: 100%;
  }
  .div-text p {
    font-size: 0.8rem;
    text-align: justify;
  }

  .before-footer-content {
    flex-direction: column;
    gap: 3rem;
  }
  .footer-content h2,
  .footer-social a {
    font-size: 1.1rem;
  }
  .footer-bottom {
    font-size: 0.7rem;
  }
  .footer-content p {
    font-size: 0.7rem;
  }

  /* media for mobile upward */
  @media (min-width: 481px) and (max-width: 767px) {
    .nav-container {
      margin-bottom: 1rem;
    }
    .nav-content {
      display: none;
    }
    .padding {
      padding: 0.5rem 1rem;
    }
    header {
      height: 70vh;
    }
    .nav-logo h1 {
      font-size: 1.2rem;
    }

    .menuBtn {
      display: block;
      font-size: 1.4rem;
      color: var(--accent-color);
      cursor: pointer;
      margin: 10px 0;
    }
    .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 5rem;
      left: 0;
      text-align: center;
      justify-content: center;
      gap: 2rem;
      background-color: var(--accent-color);
      width: 100%;
      height: 70vh;
      transition: 5s ease-in-out;
    }
    .menu a {
      text-decoration: none;
      color: #2e8b57;
      letter-spacing: 0.1rem;
      cursor: pointer;
      font-size: 1.2rem;
    }
    .menu a:hover {
      color: #2d413a;
      transition: all 100ms ease-in-out 200ms;
    }
    .menu.close {
      display: none;
    }

    .hero-img {
      display: none;
    }

    .hero-container {
      justify-content: center;
      padding: 1rem;
    }

    .hero-body h1 {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }

    .hero-body p {
      font-size: 0.8rem;
      max-width: 52ch;
      line-height: 1.1rem;
      margin-bottom: 1rem;
    }

    .btn-1,
    .btn-2 {
      width: 100%;
      margin: 0 auto;
      margin-top: 1rem;
    }
    .main-container,
    .main-contents {
      flex-direction: column;
      justify-content: center;
    }

    .main-heading button {
      width: 100%;
    }
    .text-container {
      flex-direction: column;
    }

    .before-footer-content {
      flex-direction: column;
    }
    .div-container img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border-radius: 30px;
    }
  }
  /* Responsive layout for tablets */
  @media (min-width: 768px) and (max-width: 1024px) {
    .hero-container {
      justify-content: center;
      padding: 1rem;
    }

    .hero-body h1 {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }

    .hero-body p {
      font-size: 0.8rem;
      max-width: 52ch;
      line-height: 1.1rem;
      margin-bottom: 1rem;
    }

    .main-container,
    .main-contents {
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
    .main-heading {
      width: 600px;
    }
    .main-heading button {
      width: 100%;
    }
    .text-container {
      flex-direction: column;
      text-align: center;
    }
    .text-container img {
      max-width: 50%;
      margin-top: 4rem 0;
    }

    .text-container {
      flex-direction: column;
    }
    .text-content {
      margin-bottom: 4rem;
    }
    .text-header h1 {
      font-size: 1.5rem;
    }
    .text-header p {
      font-size: 1rem;
    }
    .div-container {
      flex-direction: column-reverse;
    }

    .div-container img {
      max-width: 400px;
    }
    .div-text {
      width: 600px;
    }
    .div-text h1 {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
    }
    .div-text p {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: justify;
    }
    .before-footer-content {
      flex-direction: column;
    }
  }
  /* Responsive layout for medium screen */
  @media (min-width: 1025px) and (max-width: 1200px) {
  }
}
