*,
*::before,
*::after {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #2a6041;
}
.padding {
  padding: 5rem 10rem;
}

/* style f or the nav section */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: nexa;
}
.nav-logo h1 {
  color: white;
  font-weight: lighter;
  font-size: 3rem;
}

.nav-content {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}
.nav-content a {
  text-decoration: none;
  color: white;
}
.nav-content a:hover {
  color: gold;
  transition-delay: 200ms;
}
.nav-body {
  color: white;
  align-items: center;
  justify-content: center;
}

.nav-body h1 {
  font-family: poppins;
  font-size: 2rem;
}

.nav-body p {
  font-size: 1rem;
  font-family: nexa;
}

.nav-body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-body-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.btn-1,
.btn-2 {
  background-color: gold;
  width: 200px;
  padding: 15px;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 20px;
  font-family: nexa;
  color: #2a6041;
  font-weight: bolder;
  cursor: pointer;
}
.btn-2 {
  background-color: transparent;
  color: white;
  box-shadow: 0px 0px 0px 1px white;
  margin-left: 20px;
}
.btn-1:hover {
  background-color: white;
}
.btn-2:hover {
  color: gold;
}
.menu,
.menuBtn {
  display: none;
}
/* end of the nav styles */

/* styles for the main contents */
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: nexa;
  padding: 5rem 0rem;
}
.main-container img {
  max-width: 200px;
}
.main-content-1 {
  margin-bottom: 10px;
  padding: 10px;
}
.main-content-1 p {
  display: flex;
  flex-direction: column;
}

.button-1,
.button-2 {
  display: none;
}
.main-content-1 button {
  background-color: black;
  color: white;
  width: 200px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
  display: block;
}
.main-content-1 button:hover {
  color: gold;
}

.main-content-2 h3 {
  font-size: 1rem;
  text-align: center;
}
.main-content-2 p {
  text-align: center;
  font-size: 1rem;
}
/* end of the main contents styles */

/*-start of the text container-1*/
.text-container {
  display: flex;
  flex-direction: row;
  font-family: nexa;
  column-gap: 10rem;
}
.text-header {
  font-family: nexa;
  font-size: 1rem;
  text-align: center;
  padding: 0 5rem 5rem;
}
.text-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 4rem;
}
.text-header h1 {
  font-size: 2rem;
}
.text-container p {
  font-size: 1rem;
  justify-content: center;
}

.text-content {
  line-height: 3rem;
}

/*-start of the text container-2*/
.text-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}

.div-container img {
  /* width: 100%; */
  max-width: 300px;
  height: auto;
  border-radius: 30px;
}
.div-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: nexa;
  justify-content: space-evenly;
  column-gap: 2rem;
  margin-bottom: 4rem;
}

.div-text,
p {
  text-align: center;
  line-height: 2rem;
}
.div-text h1 {
  padding: 10px;
  font-size: 2rem;
}
.div-text p {
  font-size: 1rem;
}

.explore {
  background-color: black;
  color: white;
  width: 200px;
  cursor: pointer;
  border-radius: 50px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 25px;
  display: block;
}
.explore:hover {
  color: gold;
}
.explore-btn {
  display: none;
}
/* end of the text container styles */

/* before the footer-container */
.before-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1rem;
  margin-bottom: 4rem;
}
.before-footer-content img {
  width: 200px;
  height: 200px;
}
.before-footer-content h3,
p {
  display: block;
  align-items: start;
}
/* end of before the footer styles */

/* footer styles */
.footer-container {
  background-color: #2a6041;
  color: white;
  font-family: nexa;
  padding-bottom: 0px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/* end of footer styles */

/* /// ////////////////////////////// */

/* responsive design for laptop  screen */
@media screen and (max-width: 1024px) {
  .padding {
    padding: 5rem 3rem;
  }

  .nav-logo h1 {
    font-size: 2rem;
  }

  .nav-content {
    font-size: 1.5rem;
  }

  .nav-body h1 {
    font-size: 1.5rem;
  }

  .nav-body p {
    font-size: 1rem;
    font-family: nexa;
  }

  .btn-1,
  .btn-2 {
    width: 150px;
  }

  .main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: nexa;
  }
  .main-container img {
    max-width: 100px;
  }

  .main-content-1 button {
    display: none;
  }

  .explore-btn {
    background-color: black;
    color: white;
    width: 200px;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 25px;
    display: block;
  }

  .text-container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: nexa;
    justify-content: space-evenly;
    column-gap: 2rem;
  }
  .explore {
    width: 90%;
  }

  .before-footer-content img {
    width: 100px;
    height: 100px;
  }
}

/* responsive design for tablet devices and lower */
/* ********************************************** */
@media screen and (max-width: 768px) {
  .padding {
    padding: 2rem 3rem;
  }

  .nav-logo h1 {
    font-size: 1.5rem;
  }

  .nav-content {
    font-size: 1rem;
  }

  .nav-body p {
    font-size: 0.7rem;
    text-wrap: nowrap;
  }
  .btn-1,
  .btn-2 {
    width: 120px;
  }

  .main-content-1 h1 {
    font-size: 1.2rem;
  }
  .main-content-1 p {
    font-size: 0.7rem;
  }
  .text-container {
    padding-bottom: 5rem;
  }
  .text-header h1 {
    font-size: 1.3rem;
    padding-top: 2rem;
  }
  .text-header p {
    font-size: 0.7rem;
  }

  .text-container img {
    margin-top: 0rem;
  }
  .text-content h3 {
    font-size: 1.1rem;
  }
  .text-content p {
    font-size: 0.7rem;
  }

  .div-text h1 {
    font-size: 1.3rem;
  }
  .div-text p {
    font-size: 0.7rem;
  }
  .explore {
    /* width: 80%; */
    margin-bottom: 5rem;
  }

  .before-footer-content {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .footer-content h1 {
    font-size: 1.5rem;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
/* responsive design for mobile devices and lower */
/* ********************************************** */
@media screen and (max-width: 480px) {
  .nav-content {
    display: none;
  }
  .padding {
    padding: 3rem 0rem 5rem 1rem;
  }

  .nav-logo h1 {
    font-size: 1.2rem;
  }

  .menuBtn {
    display: block;
    font-size: 1.8rem;
    color: gold;
    cursor: pointer;
    margin: 30px 50px 0 0px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10rem;
    left: 0;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    background-color: gold;
    width: 100%;
    height: 35vh;
    transition: 5s ease-in-out;
    margin: 20px 0px;
  }
  .menu a {
    text-decoration: none;
    color: seagreen;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-size: 1.2rem;
  }
  .menu a:hover {
    color: white;
    transition-delay: 200ms;
  }
  .menu.close {
    display: none;
  }

  .nav-body-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .nav-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-body h1 {
    font-size: 1.3rem;
  }
  .nav-body p {
    font-size: 0.4rem;
  }
  .btn-1,
  .btn-2 {
    display: none;
  }

  .button-1,
  .button-2 {
    display: block;
    background-color: gold;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
    margin-top: 20px;
    color: #2a6041;
    font-weight: bolder;
    cursor: pointer;
  }

  .button-2 {
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 0px 1px white;
    margin-left: 20px;
  }

  .button-1:hover {
    background-color: white;
  }
  .button-2:hover {
    color: gold;
  }

  .text-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 30px;
  }

  .div-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 30px;
  }

  .footer-container {
    padding-bottom: 10px;
  }

  .footer-content h1 {
    font-size: 1.2rem;
  }
  .footer-text {
    gap: 0px;
    font-size: 0.8rem;
  }
}
