<<<<<<< HEAD
*,
*::before,
*::after {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
  background-color: #2a6041;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
<<<<<<< HEAD
  padding: 20px;
=======
  margin: 1px;
  padding: 10px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.nav-logo h1 {
  color: white;
  font-family: nexa;
  font-weight: lighter;
<<<<<<< HEAD
  font-size: 2.5rem;
  margin-left: 200px;
}

.nav-content a {
  color: white;
  column-gap: 10px;
  margin-right: 50px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: nexa;
}

.nav-content a:hover {
  color: #f3dc10;
  transition-delay: 200ms;
=======
  margin-left: 200px;
  font-size: 40px;
}
.nav-content a {
  color: white;
  column-gap: 10px;
  text-decoration: none;
  margin-right: 80px;
  font-family: nexa;
  font-size: 20px;
}
.nav-content a:hover {
  color: #f3dc10;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.nav-body {
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
<<<<<<< HEAD
}

.nav-body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-body-container img {
  width: 600px;
  margin-right: 140px;
  margin-top: 80px;
}
.nav-body h1 {
  font-family: poppins;
  font-size: 2rem;
  justify-content: center;
  margin-left: 100px;
}

=======
  font-family: poppins;
}
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
.nav-body p {
  font-size: 15px;
  margin-top: 20px;
  font-family: nexa;
  margin-left: 100px;
}
<<<<<<< HEAD

.btn-1 {
  background-color: gold;
  width: 150px;
  padding: 20px;
  border-radius: 50px;
  margin-left: 100px;
  margin-top: 40px;
  font-size: 1rem;
  color: #2a6041;
  font-weight: bolder;
  cursor: pointer;
=======
.nav-body h1 {
  font-family: poppins;
  font-size: 3rem;
  justify-content: center;
  margin-left: 100px;
}
.nav-body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-body-container img {
  width: 700px;
  margin-right: 140px;
  margin-top: 80px;
}
.btn-1 {
  background-color: gold;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  margin-left: 100px;
  margin-top: 20px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.btn-2 {
  background-color: #2a6041;
  color: white;
<<<<<<< HEAD
  width: 150px;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 1px white;
  margin-left: 10px;
  font-size: 1rem;
  cursor: pointer;
}

=======
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 1px white;
  margin-left: 10px;
}
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: nexa;
<<<<<<< HEAD
  margin: 200px 0px 200px 100px;
=======
  margin-left: 100px;
  margin-top: 100px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.main-container img {
  width: 200px;
}
<<<<<<< HEAD
.main-content-1 {
=======
.main-content-1 h1 {
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
  font-family: nexa;
  margin-bottom: 10px;
  padding: 10px;
}
<<<<<<< HEAD

.main-content-1 button {
  background-color: black;
  color: white;
  width: 150px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.main-content-2,
.main-content-3,
.main-content-4 h3 {
  font-size: 1rem;
  text-align: center;
}
.main-content-2,
.main-content-3,
.main-content-4 p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
/*-start of the text container-1*/

=======
.main-content-1 p {
  margin-bottom: 10px;
}
.main-content-1 button {
  background-color: black;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  margin-left: 70px;
  margin-top: 5px;
}

.main-content-2 h3 {
  font-size: 17px;
  text-align: center;
}
.main-content-2 p {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.main-content-3 h3 {
  font-size: 17px;
  text-align: center;
}
.main-content-3 p {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.main-content-4 h3 {
  font-size: 17px;
  text-align: center;
}
.main-content-4 p {
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
/*-start of the text container-1*/
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
.text-container {
  display: grid;
  grid-template-columns: 300px 300px;
  margin-left: 200px;
  padding: 20px;
  font-family: nexa;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.text-header {
  margin-left: 200px;
  margin-top: 100px;
  font-family: nexa;
<<<<<<< HEAD
  font-size: 1.2rem;
  padding: 10px;
}

=======
  font-size: 20px;
  padding: 10px;
}
.text-header p {
  font-size: 13px;
}
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
.text-container p {
  margin-bottom: 20px;
  text-align: left;
  padding: 5px;
<<<<<<< HEAD
  font-size: 1rem;
=======
  font-size: 13px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.img {
  margin-left: 700px;
  margin-bottom: 20px;
<<<<<<< HEAD
  margin-top: -490px;
=======
  margin-top: -370px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
/*-start of the text container-2*/

.div-container {
  display: flex;
  align-items: center;
  font-family: nexa;
}
.div-img {
  margin-left: 200px;
  margin-top: 50px;
}
.div-text {
<<<<<<< HEAD
  margin-top: -400px;
}
.div-text h1 {
  margin-left: 150px;
=======
  margin-top: -450px;
}
.div-text h1 {
  margin-left: 105px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
}
.div-text p {
<<<<<<< HEAD
  margin-left: 150px;
  font-size: 1rem;
=======
  margin-left: 100px;
  font-size: 13px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.div-text-2-container {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 15px;
<<<<<<< HEAD
  margin-left: 850px;
=======
  margin-left: 800px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
  margin-top: -440px;
  margin-bottom: 20px;
  font-family: nexa;
}
.div-text-2 {
  margin-left: 100px;
  margin-bottom: 10px;
<<<<<<< HEAD
  font-size: 1rem;
=======
  font-size: 13px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.explore {
  background-color: black;
  color: white;
<<<<<<< HEAD
  width: 150px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 100px;
  padding: 15px;
}
.footer-container {
  background-color: #2a6041;
  margin-top: 300px;
  padding: 50px;
  color: white;
=======
  width: 100px;
  height: 30px;
  border-radius: 50px;
  margin-left: 100px;
}
.footer-container {
  background-color: #2a6041;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 12px;
  color: white;
  height: 150px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
  font-family: nexa;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
=======
  margin-top: 20px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
<<<<<<< HEAD
}

/* responsive design for large screen */
/* ************************************* */

@media screen and (max-width: 1440px) {
  header {
    width: 102vw;
    height: 100vh;
  }
  .nav-container {
    padding: 50px;
  }

  .nav-logo h1 {
    font-size: 3rem;
    margin-left: 100px;
  }

  .nav-content a {
    font-size: 1.8rem;
  }
  .btn-1 {
    margin-left: 100px;
    margin-top: 30px;
    font-size: 1.3rem;
  }

  .btn-2 {
    font-size: 1.3rem;
  }
  .explore {
    margin-left: 100px;
    font-size: 1.3rem;
  }
  .footer-container {
    width: 102vw;
    margin-top: 600px;
    padding: 100px;
  }
  .footer-content {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .footer-text p {
    font-size: 1.3rem;
  }
}

/* responsive design for laptop  screen */
/* ************************************* */

@media screen and (max-width: 1024px) {
  header {
    width: 143vw;
  }
  .nav-container {
    padding: 50px;
  }

  .nav-logo h1 {
    font-size: 3rem;
    margin-left: 100px;
  }

  .nav-content a {
    font-size: 1.8rem;
  }

  /*  responsive styles for the nav-body */

  .nav-body h1 {
    font-size: 2.5rem;
    margin-left: 50px;
    letter-spacing: 0.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .nav-body p {
    font-size: 1.3rem;
    margin-left: 50px;
  }

  .btn-1 {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.3rem;
  }

  .btn-2 {
    font-size: 1.3rem;
  }

  .main-container {
    margin: 200px 0px 200px 150px;
  }
  .main-container img {
    width: 200px;
    margin-left: 100px;
  }

  .main-content-1 h1 {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
  }

  .main-content-1 p {
    font-size: 1.4rem;
    text-align: justify;
    display: none;
  }

  .main-content-1 button {
    font-size: 1.3rem;
  }

  .main-content-2,
  .main-content-3,
  .main-content-4 h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .main-content-2,
  .main-content-3,
  .main-content-4 p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* responsive styles for the text section -(why choose us) */

  .text-header {
    margin: 100px 0px 50px 150px;
    font-size: 1.5rem;
  }

  .text-container {
    margin: 20px 0px 200px 150px;
    padding: 20px;
    font-size: 1.5rem;
  }

  .text-container p {
    margin-bottom: 50px;
    padding: 5px;
    font-size: 1.3rem;
  }
  .shop p {
    margin-top: 40px;
  }

  .img {
    margin: -550px 0px 0px 680px;
  }
  /* responsive styles for the first div text */
  .div-img {
    margin: -200px 0px -500px 200px;
  }
  .div-text {
    margin-top: -40px;
  }
  .div-text h1 {
    margin: 0px 0px 20px 50px;
    padding: 10px;
    font-size: 2rem;
    text-wrap: nowrap;
  }
  .div-text p {
    margin-left: 55px;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  /* responsive styles for div-2 container */

  .div-text-2-container {
    gap: 5px;
    margin-left: 750px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: nexa;
  }
  .div-text-2 {
    display: flex;
    font-size: 1.1rem;
  }

  .explore {
    margin-left: 100px;
    font-size: 1.3rem;
  }

  .footer-container {
    width: 143vw;
    margin-top: 500px;
    padding: 100px;
  }
  .footer-content {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .footer-text p {
    font-size: 1.4rem;
  }
}

/* responsive design for tablet devices */
/* *********************************** */

@media screen and (max-width: 768px) {
  header {
    width: 210vw;
  }

  .nav-container {
    padding: 50px;
  }

  .nav-logo h1 {
    font-size: 3rem;
    margin-left: 100px;
  }

  .nav-content a {
    font-size: 1.8rem;
  }

  /*  responsive styles for the nav-body */

  .nav-body h1 {
    font-size: 2.5rem;
    margin-left: 50px;
    letter-spacing: 0.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .nav-body p {
    font-size: 1.3rem;
    margin-left: 50px;
  }

  .btn-1 {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 1.3rem;
  }

  .btn-2 {
    font-size: 1.3rem;
    cursor: pointer;
  }

  /* responsive styles for the main contents */

  .main-container {
    margin: 200px 0px 200px 150px;
  }
  .main-container img {
    width: 200px;
    margin-left: 100px;
  }

  .main-content-1 h1 {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
  }

  .main-content-1 p {
    font-size: 1.4rem;
    text-align: justify;
    display: none;
  }

  .main-content-1 button {
    font-size: 1.3rem;
  }

  .main-content-2,
  .main-content-3,
  .main-content-4 h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
  }
  .main-content-2,
  .main-content-3,
  .main-content-4 p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* responsive styles for the text section -(why choose us) */

  .text-header {
    margin: 100px 0px 50px 150px;
    font-size: 1.5rem;
  }

  .text-container {
    margin: 20px 0px 200px 150px;
    padding: 20px;
    font-size: 1.5rem;
  }

  .text-container p {
    margin-bottom: 50px;
    padding: 5px;
    font-size: 1.3rem;
  }
  .shop p {
    margin-top: 40px;
  }

  .img {
    margin: -700px 0px 0px 700px;
    width: 700px;
  }
  /* responsive styles for the first div text */
  .div-img {
    margin: -200px 0px -500px 200px;
  }
  .div-text {
    margin-top: 100px;
  }
  .div-text h1 {
    margin: 0px 0px 20px 100px;
    padding: 20px;
    font-size: 2rem;
    text-wrap: nowrap;
  }
  .div-text p {
    margin-left: 110px;
    font-size: 1.3rem;
    text-wrap: wrap;
  }

  /* responsive styles for div-2 container */

  .div-text-2-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    margin-left: 750px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: nexa;
  }
  .div-text-2 {
    display: none;
  }
  .explore {
    margin-left: 150px;
    padding: 20px;
    font-size: 1.3rem;
  }

  .footer-container {
    width: 210vw;
    margin-top: 500px;
    padding: 100px;
  }
  .footer-content {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .footer-text p {
    font-size: 1.5rem;
  }
}

/* responsive design for mobile devices */
/* *********************************** */

@media screen and (max-width: 480px) {
  header {
    width: 340vw;
  }

  .nav-container {
    padding: 50px;
  }

  .nav-logo h1 {
    font-size: 4rem;
    margin-left: 160px;
  }

  .nav-content a {
    font-size: 2.7rem;
    margin-left: 10px;
  }
  .nav-body-container img {
    width: 550px;
    margin-right: 180px;
    margin-top: 50px;
  }

  .nav-body h1 {
    font-size: 2.5rem;
    margin-left: 120px;
    letter-spacing: 0.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .nav-body p {
    font-size: 1.3rem;
    margin-left: 120px;
  }

  .btn-1 {
    margin-left: 120px;
    margin-top: 30px;
    font-size: 2rem;
    width: 250px;
  }

  .btn-2 {
    font-size: 2rem;
    width: 250px;
  }
  .main-container {
    margin-left: 200px;
  }

  .main-content-1 h1 {
    font-size: 2.3rem;
  }

  .main-content-1 button {
    font-size: 1.7rem;
    width: 200px;
  }
  .text-header {
    margin-left: 200px;
    margin-top: 100px;
    font-family: nexa;
    font-size: 2rem;
    padding: 10px;
    text-wrap: nowrap;
  }
  .img {
    margin: -550px 0px 0px 680px;
  }
  .text-container {
    margin: 20px 0px 200px 200px;
    padding: 20px;
    font-size: 1.7rem;
  }

  .text-container p {
    margin-bottom: 50px;
    padding: 5px;
    font-size: 1.3rem;
  }
  .shop p {
    margin-top: 0px;
  }
  .div-text h1 {
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2.5rem;
  }
  .div-text p {
    margin-left: 150px;
    font-size: 1.7rem;
  }
  .explore {
    margin-left: 200px;
    padding: 20px;
    font-size: 2rem;
    width: 200px;
    margin-top: 10px;
  }
  .footer-container {
    width: 340vw;
    margin-top: 500px;
    padding: 100px;
  }
  .footer-content {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .footer-text p {
    font-size: 1.5rem;
  }
=======
  margin-top: 10px;
  margin-bottom: 20px;
>>>>>>> 8f13667255917f5dbd000e885c462197f0c62023
}
